* {
    box-sizing: border-box;
}
:root{
    font-family: "jet-brain-mono" , "playfair-display",system-ui;
}
html,
body {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    overflow-x: hidden;
}

@font-face {
    font-family: "jet-brain-mono";
    src: url("./../resources/JetBrainsMono-Regular.woff") format("woff"),
        url("./../resources/JetBrainsMono-Regular.woff2") format("woff2");
}

@font-face {
    font-family: 'playfair-display';
    src: url("./../resources/PlayfairDisplay-Regular.woff") format("woff"),
        url("./../resources/PlayfairDisplay-Regular.woff2") format("woff2");
}

#main-container {
    /* main-container default design for HOME tab */
    height: 100vh;
    width: 100vw;
    background-image: url("./../resources/website-home-tab.jpg");
    background-attachment: scroll;
    background-size: cover;
    box-sizing: border-box;
    overflow-x: hidden;
    color: white;
}

/* header section  */

/* header section ends */
/* HOME tab section start */

.social-media-icons {
    width: 1.1rem;
    height: 1.1rem;
}